{% extends "base.html" %}
{% block content %}

<section class="section">
    <h2>ಗುರುಜಿಯ ಪರಿಚಯ</h2>
    <p>
        ವೇದಿಕ ಜ್ಯೋತಿಷ್ಯ, ಹಸ್ತಸಾಮುದ್ರಿಕ ಶಾಸ್ತ್ರ ಹಾಗೂ ಆತ್ಮಿಕ ಪರಿಹಾರಗಳಲ್ಲಿ ಹಲವು ವರ್ಷಗಳ ಅನುಭವ ಹೊಂದಿರುವ ಗುರುಜೀ ಶ್ರೀ ವಿಠ್ಠಲ್ ರಾವ್ ಶಾಸ್ತ್ರಿಜೀ ಅವರು,
         ಸಾವಿರಾರು ಭಕ್ತರಿಗೆ ಶಾಂತಿ ಮತ್ತು ಯಶಸ್ಸಿನ ದಾರಿಯನ್ನು ತೋರಿಸಿದ್ದಾರೆ.
    </p>

    <div class="gallery">
        <img src="{{ url_for('static', filename='images/image3.png') }}">
        <img src="{{ url_for('static', filename='images/image2.png') }}">
         <img src="{{ url_for('static', filename='images/image1.png') }}">
        <img src="{{ url_for('static', filename='images/image1.png') }}">
    </div>
</section>

{% endblock %}
